# APP
APP_PORT=3000
FRONTEND_PORT=80

# DATABASE
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_DB="app"
POSTGRES_PORT=5432
POSTGRES_DATABASE_URL="postgres://postgres:postgres@localhost:5432/app"

# REDIS
REDIS_HOST="localhost"
REDIS_PORT=6379
REDIS_PASS=12345

# JWT
JWT_SECRET="ABC1234"
